@charset "UTF-8";
:root {
    --blue-variant-grad-1 : #9ec1f7;
    --Virtul-default-blue: #0066ff;
    --blue-variant-1:  #136aec;
    --blue-variant-2: #1962cf;
    --blue-variant-3: #115ccc;
    --blue-variant-4: #004ec4;
    --blue-input-shadow: #0066ff15;
    /*to add dark mode functionality , switch variables*/
    --light-grey: #f1f1f1;
    --pure-white: #ffffff;
    --pure-white-transparency-4: #ffffffee;
    --grey-variant-1: #c5c4bb;/*for body bg gradient*/
    --grey-variant-2: #504f4f;
    --green: #20b144;
    --orange: #ff9100;
    --purple-variant: #f75dc8;
    --brown-variant: #dd5a03;
    --reddish-purple: #e00b52;
    --black-variant-1: #101010;
    --black-variant-1-alpha-3: #00000046;
    --black-variant-1-alpha-4: #2e2d2da2;
}
@font-face {
    font-family: "roboto regular";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "roboto medium";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "roboto bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf");
    font-weight: bolder;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto regular', 'Gill Sans', Calibri, sans-serif;
    letter-spacing: 1px;
    transition: color 0.3s, background-color 0.4s;
}
html , body {
   /* background-image: linear-gradient(to bottom, var(--pure-white), var(--grey-variant-1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;*/
    background: var(--pure-white);
}
.body {
    overflow-x: hidden;
}
/*displays*/
.flex-box {
    display: flex;
}
.block {
    display: block;
}
.bg-white {
    background: var(--pure-white);
}
.header{
    height: 10vh;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 2vh;
    border-bottom: 1px solid var(--light-grey);
}
.no-bg {
    background: none;
}
.no-border {
    border: none;
}
.wallet-address-cont , .record-amount {
    word-wrap: break-word;
}
.header-content , .menu-in-header {
    height: max-content;
    width: auto;
}
#logo {
    height: 18px;
}
.menu-or-menu-btn-toggle {
    font-size: 23px;
    cursor: pointer;
    color: var(--black-variant-1-alpha-4) !important;
}
.menu-or-menu-btn-toggle:hover {
    background: var(--light-grey);
}
.menu-in-header , .nav-at-header {
    display: none;
}
.text-default-blue-color {
    color: var(--Virtul-default-blue);
}
.default-blue-bg {
    background: var(--Virtul-default-blue);
}
.bg-light-grey {
    background: var(--light-grey);
}
.section-1 {
    height: 1000px;
    width: 100vw;
    margin-top: -40px;
    padding-top: 80px !important;
    clip-path: path("M0 810 A90 50,0, 0 0, 400 930 L400 120 Q150 0, 0 100 Z");
}
.sections , .section-3-content {
    padding: 20px;
}
.sections p , .section-3-content p {
    margin: auto;
    margin-top: 50px;
}
.text-white-color {
    color: var(--pure-white);
}
.mini-size {
    font-size: x-large;
}
.very-large {
    font-size: xx-large;
}
.smaller-size {
    font-size: large;
}
.bold {
    font-weight: bold;
    font-family: "roboto medium" , Calibri , sans-serif;
}
.signing-btn-cont {
    margin-top: 50px;
    justify-content: space-between;
}
.signing-btn {
    border: 2px solid;
    height: auto;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin: 6px;
}
.menu-in-header a {
    padding: 10px;
    font-size: 25px;
    margin: 10px;
}
.signing-btn:hover , .menu-in-header a:hover {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid;
}
a {
    text-decoration: none;
}
.text-grey-variant-2-color {
    color: var(--grey-variant-2);
}
.bg-green {
    background: var(--green);
}
.bg-reddish-purple {
    background: var(--reddish-purple);
}
.text-reddish-purple-color {
    color: var(--reddish-purple);
}
.account-deletion-triggger:active {
    opacity: 0.2;
}
.account-deletion-triggger {
    cursor: pointer;
}
.section-2 {
    margin-top: -60px !important;
}
.analysis-toggle {
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
}
.analysis-toggle:hover , .analysis-toggle-active {
    opacity: 1;
    border: 1px solid var(--black-variant-1-alpha-3);
}
.illustration-cont {
    height: 40vw;
    width: 50vw;
    max-width: 290px;
    max-height: 300px;
    margin: auto;
    margin-top: 80px;
}
.illustration , .review-image {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    -o-object-fit: scale-down;
}
.centered-text {
    text-align: center;
}
.section-3 {
    margin-top: 40px;
}
.section-title-cont , .section-3-content-cont {
    width: 100vw;
}
.section-title-cont {
    height: 200px;
    background: var(--Virtul-default-blue);
    padding-top: 30px;
}
.section-title-cont p {
    margin: 30px;
}
.section-3-content-cont {
    flex-flow: column;
}
.section-3-content {
    height: 700px;
    width: 100%;
}
.section-3-content-1 {
    background: var(--blue-variant-1);
}
.section-3-content-2 , .section-5 {
    background: var(--blue-variant-2);
}
.section-3-content-3 {
    background: var(--blue-variant-3);
}
.section-5 {
    height: 1000px;
    width: 100vw;
    background: var(--Virtul-default-blue);
    padding-top: 80px;
    clip-path: path("M0 0 L480 80 L480 1000 L0 920 Z");
}
.review-cont {
    width: 100%;
}
.review-content-cont {
    height: 500px;
    width: inherit;
    max-width: 320px;
    border-radius: 3px;
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    background: var(--pure-white);
    box-shadow: 0px 5px 9px #00000044;
}
.review-content-image-cont {
    height: 100px;
    width: 100px;
    margin: auto;
}
.review-image {
    border-radius: 100%;
}
.review-content-text-cont {
    width: inherit;
    margin: auto;
    padding: 30px;
    padding-top: 0;
}
.quote-in-review-text {
    font-size: 9vw;
}
.review-writer-name , .footer-link-set-1, .section-6 div .fab:hover {
    color: var(--blue-variant-1);
}
.review-writer-name {
    display: block;
    width: max-content;
    margin: 16px auto;
}
.review-writer-name:hover , .footer-link-set-1 {
    border-bottom: 2px solid;
}
.section-6 {
    padding: 30px;
}
.section-6 li {
    list-style: none;
    margin-top: 20px;
}
.section-6 div .fab {
    color: var(--grey-variant-2);
    border: none;
    margin: 10px;
}
.section-6 .follow-able-links {
    margin: 50px 0 90px 0;
}
.form-and-form-nav-cont {
    height: auto;
    width: 100vw;
    max-width: 510px;
    min-width: 310px;
    margin: 20px auto;
    padding: 50px;
}
.form-nav {
    height: auto;
    width: 100%;
    border-bottom: 2px solid var(--Virtul-default-blue);
    margin-bottom: 50px;
}
.form-nav a {
    display: block;
    height: auto;
    width: 50%;
    padding: 10px 0;
}
.form-nav a:hover {
    background: var(--grey-variant-1);
}
.form-cont {
    margin: auto;
    width: 95%;
}
.input-section {
    height: 60px;
    width: 100%;
    border: 3px solid var(--blue-variant-3);
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 5px;
}
/*fix default autofill*/
.input-section:not(input[type="submit"]), input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    font-size: 15px;
    color: var(--input-color);
    background-color: transparent;
}
.input-section:focus {
    outline: none;
    box-shadow: 0px 0px 9px 3px var(--blue-input-shadow);
}
.validation-list-text {
    margin: 50px 0 0 30px;
}
.validation-list-text li::marker{
    color: var(--blue-variant-3);
}
.validation-list-text #email-check , .validation-list-text #password-check , .validation-list-text #not-enough-balance-notifiyer {
    display: none;
    color: #c44500;
}
input[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}
input[type="submit"] {
    border: none;
}
h1 {
    margin: 50px auto 0;
}
.text-after {
    margin-top: 55px;
}
.body-content {
    margin-bottom: 200px;
}
.advertizement-cont p {
    margin: 4px;
    margin-top: 90px;
}
.advertizement-main-cont {
    height: 30vh;
    min-height: 180px;
    max-height: 220px;
    width: 100%;
    background: var(--blue-input-shadow);
    overflow-x: auto;
}
.main-content {
    height: auto;
    width: 100vw;
}
.title-of-main-content-section {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}
.price-in-main-content {
    margin: 20px;
}
.chart-of-price-time-statistics-cont {
    height: 80vh;
    max-height: 420px;
    min-height: 330px;
    border: 2px solid var(--light-grey);
}
.canvas-statistics-cont {
    height: 70%;
    background: #030008e7;
}
.chart-of-price-time-statistics-cont a , .links-to-buy-and-sell-cont a  {
    height: auto;
    width: 95%;
    display: block;
    padding: 10px;
    margin: 30px auto;
    border-radius: 4px;
}
.chart-of-price-time-statistics-cont a:hover , .links-to-buy-and-sell-cont a:hover {
    opacity: 0.9;
}
.assets-display-cont {
    height: auto;
    width: 100%;
    padding-top: 20px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.asset-display-content {
    height: 220px;
    width: calc(80% / 2);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0.8px var(--light-grey);
    margin-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.user-records , .user-notification-records {
    border-bottom: 2px solid var(--blue-variant-1);
    height: 311px;
}
.user-notification-records {
    height: auto;
}
.record-data-cont {
    height: 80px;
    width: 100%;
    border-top: 2px solid var(--blue-variant-1);
    border-bottom: 0.2px solid var(--blue-variant-1);
}
.user-notification-records .record-data-cont {
    height: auto;
}
.user-notification-records .record-data-main-cont {
    padding: 10px 0 14px;
    align-items: center;
}
.none {
    display: none;
}
.record-type {
    margin: 5px;
}
.record-type-received {
    color: var(--green);
}
.record-type-sent {
    color: var(--orange);
}
.record-data-main-cont {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
}/*
.price-in-main-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}*/
.asset-display-content {
    padding: 12px;
    padding-top: 20px;
}
.asset-icon-cont {
    height: max-content;
    width: max-content;
    margin: 4px auto;
}
.asset-icon-cont i {
    border: 2px solid;
    border-radius: 100%;
    padding: 5px;
}
.asset-icon-cont .fa-chart-line {
    color: var(--purple-variant);
}
.asset-icon-cont .fa-bolt {
    color: var(--green);
    padding-right: 10px;
    padding-left: 10px;
}
.asset-icon-cont .fa-sign-out-alt {
    transform: rotate(-90deg);
    color: var(--brown-variant);
}
.asset-icon-cont .fa-money-bill-wave {
    color: var(--reddish-purple);
    padding-top: 7px;
    padding-bottom: 7px;
}
.nav-at-footer {
    position: fixed;
    bottom: 0;
    background: var(--pure-white);
    height: 14vh;
    width: 100%;
    min-height: 60px;
    max-height: 69px;
    border-top: 3px solid var(--Virtul-default-blue);
    z-index: 1;
}
.nav-at-header {
    height: 50px;
    width: 25%;
}
.nav-at-footer {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.footer-nav-link {
    display: block;
    height: max-content;
    width: max-content;
    font-size: 25px;
}
.nav-at-footer .fa-exchange-alt , .nav-at-header .fa-exchange-alt{
    padding: 6px;
    background: var(--Virtul-default-blue);
    border-radius: 4px;
}
.nav-at-footer .fa-exchange-alt-active , .nav-at-header .fa-exchange-alt {
    color: var(--light-grey);
}
.nav-at-footer .active , .nav-at-header .active {
    color: var(--black-variant-1);
}
.links-to-buy-and-sell {
    justify-content: space-around;
    width: 45% !important;
}
.balance-in-trade-page-cont {
    margin: 20px;
}
.wallet-total {
    margin: 20px;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
}
.pie-chart-representation-of-wallet-constituents-percentege-cont-parent {
    max-width: 300px;
    margin: auto;
}
.pie-chart-representation-of-wallet-constituents-percentege-cont {
    display : block;
    margin: auto;
    margin-bottom: 30px;
}
.necessary-links-in-wallet-page-cont {
    margin-top: 30px;
}
.necessary-links-in-wallet-page-cont a {
    color: var(--grey-variant-2);
    padding: 34px;
    border: 2px solid var(--light-grey);
    border-right: none;
    border-left: none;
    margin-bottom: 2px;
    justify-content: space-between;
    align-items: center;
}
.necessary-links-in-wallet-page-cont a:hover {
    background: var(--light-grey);
}
.section-1-in-receive-page , .section-2-in-receive-page {
    padding:20px;
}
.section-1-in-receive-page {
    border: 1px solid var(--light-grey);
}
.section-1-in-receive-page p {
    margin: 20px auto;
}
.section-1-in-receive-page .text-default-blue-color {
    cursor: pointer;
}
.section-1-in-receive-page .text-default-blue-color:hover {
    opacity: 0.7;
}
.omc-input , .usd-input {
    height: max-content;
    width: 100%;
    position: relative;
}
.omc-input::after {
    content: "omc";
}
.usd-input::after {
    content: "usd";
}
.omc-input::after , .usd-input::after {
    position: absolute;
    top: 61%;
    left: 82%;
    z-index: 1;
    color: var(--blue-variant-2);
    font-size: 19px;
    font-weight: bold;
}
.visibility-toggle-btn-for-total-of-all-assets-cont {
    cursor: pointer;
}
.side-menu {
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 100vw;
    overflow-y: scroll;
    z-index: 2;
    background: var(--pure-white);
    transition: left 0.2s;
}
.menu-or-menu-btn-toggle .fa-arrow-left {
    transition: rotate 0.5s;
}
.modal-box-cont , .loader-box-cont {
    height: 100vh;
    width: 100vw;
    background: var(--black-variant-1-alpha-3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.loader-box-cont {
    display: flex;
}
.modal-box {
    height: 50vh;
    width: 80vw;
    max-height: 280px;
    min-height: 220px;
    max-width: 300px;
    min-width: 280px;
    position: relative;
}
.loader-box , .modal-box {
    background: var(--pure-white);
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    border-radius: 3px;
}
.loader-box {
    height: 20vh;
    width: 20vh;
    max-height: 180px;
    min-height: 150px;
    max-width: 180;
    min-width: 150px;
}
.loader-balls-cont {
    height: 40px;
    width: 80px;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
}
.loader-ball {
    height: 90%;
    width: 3px;
    margin: 0 1.5px;
    display: inline-block;
    position: relative;
    transition: height 0.4s;
}
.loader-ball:nth-child(even) {
    background: var(--green);
}
.loader-ball:nth-child(odd) {
    background: var(--orange);
}
#logo-in-loader {
    height: 32px;
    display: block;
    margin: 0 auto 19px;
}
.modal-content-text {
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
}
.modal-toggle {
    width: 75%;
    position: absolute;
    bottom: 14%;
    margin: auto;
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
}
.modal-toggle p {
    cursor: pointer;
}
.section-1-in-settings-page {
    border: 1px solid var(--light-grey);
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.section-1-in-settings-page input  {
    height: 30px;
    width: 30px;
}
/*media queries*/
@media only screen and (max-width:365px) {
    .asset-display-content {
        height: 180px;
    }
    .form-and-form-nav-cont {
        padding: 10px;
    }
    .input-section {
        height: 45px;
    }
}
@media only screen and (min-width:400px) and (max-width:600px) {
    .header {
        height: 16vh;
        padding: 20px;
    }
    #logo {
        height: 24px;
    }
    .section-1 {
        clip-path: path("M0 850 A290 100,0, 0 0, 600 930 L600 120 Q150 0, 0 100 Z");
    }
    .section-5 {
        clip-path: path("M0 0 L600 80 L600 1000 L0 920 Z");
    }
    .mini-size {
        font-size: xx-large;
    }
    .very-large {
        font-size: 10vw;
    }
    .smaller-size {
        font-size: x-large;
    }
    .bold {
        font-weight: bolder;
        font-family: "roboto bold", Calibri , sans-serif;
    }
    .section-3-content {
        height: 800px;
    }
    .section-title-cont {
        height: 350px;
        padding-top: 60px;
    }
}
@media only screen and (min-width:601px) and (max-width:800px) {/*
    .menu-in-header {
        display: inline;
    }
    .menu-or-menu-btn-toggle {
        display: none;
    }*/
    .header {
        height: 16vh;
        margin-top: 30px;
        padding: 20px;
    }
    #logo {
        height: 28px;
    }/*
    .menu-in-header a {
        font-size: 30px;
    }*/
    .section-1 {
        height: 1200px;
        clip-path: path("M0 930 A400 130,3, 0 0, 800 950 L800 120 Q150 0, 0 110 Z");
    }
    .section-5 {
        clip-path: path("M0 0 L800 80 L800 1000 L0 920 Z");
    }
    .mini-size {
        font-size: xx-large;
    }
    .very-large {
        font-size: 10vw;
    }
    .smaller-size {
        font-size: x-large;
    }
    .bold {
        font-weight: bolder;
    }
    .section-3-content {
        height: 800px;
    }
    .section-title-cont {
        height: 350px;
        padding-top: 60px;
    }
    .advertizement-main-cont {
        height: 35vh;
    }
    .chart-of-price-time-statistics-cont {
        height: 82vh;
    }
    .canvas-statistics-cont {
        height: 72%;
    }
    .nav-at-footer {
        height: 18vh;
    }
    .footer-nav-link {
        font-size: 28px;
    }
    .balance-in-trade-page-cont {
        margin: 25px;
    }
    .wallet-total {
        margin-bottom: 70px;
    }
    .pie-chart-representation-of-wallet-constituents-percentege-cont {
        margin-bottom: 40px;
    }
    .necessary-links-in-wallet-page-cont {
        margin-top: 35px;
    }
}
@media only screen and (min-width:801px) and (max-width:1500px) {
    .header {
        margin-top: 30px;
        position: relative;
    }
    .menu-in-header , .nav-at-header {
        display: inline;
    }
    .menu-or-menu-btn-toggle {
        display: none;
    }
    #logo {
        height: 32px;
        margin-left: 20px;
    }
    .menu-in-header a {
        font-size: 20px;
    }
    .section-1-cont {
        background: var(--pure-white) url("../images/phone illustration.png") no-repeat;
    }
    .section-1 {
        height: 1000px;
        width: 880px;
        margin: -30px 0 0 50px;
        padding:110px 270px 0 120px;
        clip-path: path("M130 72 Q880 0 , 880 550 Q 860 890, 200 820 Q50 800, 30 600 Q 0 430, 57 160 Q 70 87, 130 72 Z");
        box-shadow: 0px 10px 4px #00000079;
    }
    .section-5 {
        clip-path: path("M0 0 L1400 80 L1400 1000 L0 920 Z");
    }
    .mini-size {
        font-size: x-large;
    }
    .very-large {
        font-size: 4vw;
    }
    .smaller-size {
        font-size: large;
    }
    .bold {
        font-weight: bolder;
    }
    .section-3-content {
        height: 800px;
    }
    .section-title-cont {
        height: 350px;
        padding-top: 60px;
    }
    .section-3-content-cont {
        height: auto;
        width: 100vw;
        flex-flow: row;
    }
    .section-3-content {
        width: calc(100vw / 3);
    }
    .section-title-cont {
        height: 200px;
        padding-top: 10px;
    }
    .section-2 {
        width: calc(90vw);
        margin: auto;
    }
    .centered-text-in-intro {
        width: 50vw;
        margin: auto;
    }
    .pilled-coins-and-Virtul-view-illustration-cont {
        display: none;
    }
    .intro-text-in-landing-page {
        font-size: 2vw;
        font-weight: bolder;
        width: 95%;
        margin-left: 0;
    }
    .body-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 0;
        overflow: hidden;
    }
    .main-content , .side-menu {
        display: inline-block;
        height: calc(100vh - 15vh);
    }
    .main-content {
        width: calc(100vw - 360px);
        overflow-y: scroll;
    }
    .side-menu {
        width: 320px;
        position: static;
    }
    .side-menu .menu-or-menu-btn-toggle {
        display: none;
    }
    .nav-at-footer {
        display: none;
    }
    .footer-nav-link {
        font-size: 20px;
    }
    .nav-at-header {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
    .section-2-sub-contents {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100vw;
    }
    .section-2-sub-contents > div {
        width: 46%;
    }
    ::-webkit-scrollbar{
        height: 10px;
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scroll-t);
    }
    ::-webkit-scrollbar-track {
        background: var(--scroll-tr);
    }/*
    * {
        scrollbar-width: 10px;
        scrollbar-color: var(--black-variant-1-alpha-4) var(--black-variant-1-alpha-3);
        scroll-behavior: smooth;
    }*/
}